<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Interactive.Publish.Web.Helpers.PublishPrompt, Sitecore.Interactive.Publish.Web" method="OnPublishEnd"/>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Interactive.Publish.Web.Helpers.PublishPrompt, Sitecore.Interactive.Publish.Web" method="OnPublishEnd"/>
      </event>
    </events>

    <settings>
      <!--Change this value to change the number of publish history entries on Desktop and in PublishContent Editor-->
      <setting name="RecentPublish" value="5"></setting>
    </settings>

    <commands>
      <command name="SitecoreInteractivePublishWeb:PublishHistory" type="Sitecore.Interactive.Publish.Web.sitecore_modules.Web.SitecoreInteractivePublish.Shell.Commands.LaunchPublishHistoryViewer, Sitecore.Interactive.Publish.Web" />
      <command name="SitecoreInteractivePublishWeb:FullPublishHistory" type="Sitecore.Interactive.Publish.Web.sitecore_modules.Web.SitecoreInteractivePublish.Shell.Commands.LaunchFullPublishHistoryViewer, Sitecore.Interactive.Publish.Web" />
    </commands>
  </sitecore>
</configuration>